wsdl/users.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.7 git-revision#654ef92. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.7 git-revision#654ef92. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.business.formation.indyli.fr.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.service.business.formation.indyli.fr.eu/" name="utilisateurServiceBean">
<import namespace="http://service.business.formation.indyli.fr.eu/" location="http://127.0.0.1:9898/ecolis/users?wsdl=1"/>
<binding xmlns:ns1="http://service.business.formation.indyli.fr.eu/" name="UtilisateurServiceImplPortBinding" type="ns1:IUtilisateurService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="findByEmailAndPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</output>
<fault name="EcolisBusinessException">
<soap:fault name="EcolisBusinessException" use="literal"/>
</fault>
</operation>
<operation name="findAuthorsCommentByDateAndPostedAnnonce">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</output>
<fault name="EcolisBusinessException">
<soap:fault name="EcolisBusinessException" use="literal"/>
</fault>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</output>
<fault name="EcolisBusinessException">
<soap:fault name="EcolisBusinessException" use="literal"/>
</fault>
</operation>
<operation name="findByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</output>
<fault name="EcolisBusinessException">
<soap:fault name="EcolisBusinessException" use="literal"/>
</fault>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</output>
<fault name="EcolisBusinessException">
<soap:fault name="EcolisBusinessException" use="literal"/>
</fault>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.business.formation.indyli.fr.eu/"/>
</output>
</operation>
</binding>
<service name="utilisateurServiceBean">
<port name="UtilisateurServiceImplPort" binding="tns:UtilisateurServiceImplPortBinding">
<soap:address location="http://127.0.0.1:9898/ecolis/users"/>
</port>
</service>
</definitions>